<header>
    <ul>
        <li><a href={% url 'root:index' %}>Home</a></li>
        <li><a href={% url 'first_example:index' %}>Greetings</a></li>
        <li><a href={% url 'first_example:hello_with_args' name='Mary' age=52  %}>Greetings with args</a></li>
        <li><a href={% url 'first_example:humans' %}>Humans</a></li>
        <li><a href={% url 'first_example:users' %}>Users (Lesson 7 - Home Work)</a></li>
        <li><a href={% url 'animals:list_by_function' %}>Animals by list</a></li>
        <li><a href={% url 'animals:list_by_class' %}>Animals by class</a></li>
        <li><a href={% url 'contacts:list_by_class' %}>Contacts (Lesson 8 - Home Work)</a></li>
    </ul>
</header>